/*-------flex tutorial css------
.flex-container{
    display: flex;
    background-color: teal;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

.flex-container > div{
    margin: 1px;
    width: 100px;
    padding: 20px;
    font-size: 10px;
    background-color: antiquewhite;
    text-align: center;
}
------*/

/*-----------CSS SELECTORS----
simple selectors select elements based on a specific name , id , class(Id, class element.class *-->>universal  element,element)

2.combinator selectors select elemetns based on a specific relationship between them
there are four  combinators  
i) descendant combinator(space)--matches all elements that are descendant of a specified element 
ii) child selector (>)--
iii) adjacent sibling selector(+)
iv)general sibling selector(~)

3. pseudo-class selectors select elements based on a certain state
Note: a:hover MUST come after a:link and a:visited in the CSS definition in order to be effective. 
Note: a:active MUST come after a:hover in the CSS definition in order to be effective.

simple tooltip {hover over me to show element}
p {
    display: none;
    background-color: yellow;
    padding: 20px;
}
div:hover p {
    display: block;
}

:first-child--matches a specified element that is the first child of another element.
all css pseudo elements ::

4. pseudo element selectors select and style the part of an element 
5. attribute selectors select elements based on an attribute or attribute value
----*/

/*----------------------CSS GRID TUTORIAL------------*/

.grid-container{

    border-radius: 10px;
    display: grid;
    margin-left: 50px;
    width: 90vw;
    height: 95vh;
    grid-template-columns: auto auto auto auto ;
    grid-gap: 10px;
    grid-template-rows: 10% 30% 10% 20% 15% 15% ;
}
.grid-container > div{
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
}

.one{
    background-color: rgb(224, 173, 64);
    grid-column: 1/5;
}
.two{
    background: tomato;
}
.four{
    background: tomato;
    grid-column: 4/5;
    grid-row: 2/4;
}
.three{
    background: rgb(233, 164, 85);
    grid-column: 2/4;
    grid-row: 2/4;
}
.five{
    background: brown;
    grid-row: 3/5;
}
.six{
    background: coral;
    grid-column: 2/5;
}
.seven{
    background: crimson;
    grid-column: 1/3;
}
.eight{
    background: darkmagenta;
    grid-column: 1/3;
}
.nine{
    background: darkorchid;
    grid-column: 3/5;
    grid-row: 5/7;
}




